.content {
  width: 65em;
  margin-right: 100px;

  .menu-partitions {
    .head {
      
      .title {
        font-size: 24px;
        display: flex;
        gap: 10px;
      }
      .subtitle {
        font-size: 5rem;
        p {
          margin-top: 10px;
          margin-left: 50px;
          span {
            color: orange;
            text-decoration: underline;
            font-style: oblique;
            font-weight: bold;
            font-family: "Playfair Display", serif;
          }
        }
      }
      .quote {
        p {
          width: 64%;
        }
      }
      .bot {
        .left {
          .circle {
            width: 9em;
            height: 9em;

            border-radius: 100%;
            text-align: center;
            align-content: center;
            position: relative;

            .circle-background {
              position: absolute;
              top: 5%;
              left: 5%;
              width: 8em;
              height: 8em;
              animation: spin 25s linear infinite;
              vertical-align: middle;
            }

            .arrow {
              font-size: 50px;
              transform: rotate(-45deg);
            }
          }
        }
      }

      .work-together{
        transition: .5s;
        height: fit-content;
        align-content: center;
        font-size: 4.2em;
        .direct{
          transform: rotate(-45deg);
          background-color: rgba(240, 248, 255, 0.16);
          border-radius: 100%;
          padding: 10px;
        }
      }
      .work-together:hover{
        background-color: orange !important;
        color: black !important;
      }
    }
  }

  #portfolio{
    .showStand{
      img{
        transition: .5s;
        cursor: pointer;
        filter: brightness(94%);
      }
      img:hover{
        transform: scale(1.05);
        filter: brightness(100%);
      }
      .image-title{
        transition: .5s;
        cursor: pointer;
        width: 100%;
        text-align: center;
      }
      .image-title:hover{
        color: orange;
      }
    }
  }


  #about,#services,#skills,#contact,#testimonial,#blog{
    .card{
      padding: 27px;
      transition: all .3s;
      cursor: pointer;
      display: flex;
      align-items: start;
          gap: 20px;
          img{
            width: 3.5em;
          }
          .head{
            font-size: 20px;
            font-weight: bold;
          }
      .card-title{
        font-size: clamp(16px, 5vw, 32px);
        font-weight: bold;
        
      }
      form{
        width: 100%;
        input,.mesage{
          padding: 20px;
          padding-left: 25px;
          border-radius: 4px;
          width: 100%;
          font-size: larger;
        }
        .mesage {
          min-height: 10em; 
          text-align: start; 
          align-self: self-start;
          padding: 20px; 
          box-sizing: border-box; 
          resize: vertical; 
          overflow: auto; 
          font-size: larger; 
        }
        .mesage::content{
          color: red;
        }
      }
    }
    .card:hover{
      border: 1px solid orange;
      transform: translatey(-4%);
    }
    
    .something:hover{
      border: 1px solid;
      transform: translateY(0%);
    }
  }
}

.bg-gray-600{
  background-color: rgba(178, 179, 179, 0.196);
  border-radius: 11px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
