@keyframes eff{
    0%{
        background-color: rgba(240, 248, 255, 0.063);
        height: 2em;
    }
    50%{
        background-color:rgba(240, 248, 255, 0.232) ;
    }
    100%{
        background-color: rgba(240, 248, 255, 0.063);
        height: 30em;
    }
}

.Panel{
    justify-content: center;
    width: 35vw;
    height: 40em;
    top: 4em;
    position: sticky;
    .left{
        ul{
            .active-part{
                background-color: orange;
                img{
                  filter: brightness(0);
                }
              }
            li{
                border-radius: 5px;
                cursor: pointer;
                width: fit-content;
                padding: 0.7em;
                height: fit-content;
                position: relative;
                z-index: 14;
                img{
                    width: 2.5em;
                }
                .expanded{
                    position: absolute;
                    top: 50%;
                    left: 0%;
                    transform: translate(-50%,-50%);
                    background-color: orange;
                    color: black;
                    font-size: larger;
                    font-weight: bolder;
                    width: 10em;
                    padding: 15px;
                    border-radius: 10px;
                    text-align: center;
                    transition: all .5s;
                    opacity: 0;
                }
            }
            .expanded:hover{
                left: 300%;
                opacity: 100%;
            }
            li:hover{
                background-color: orange;
                img{
                    filter: brightness(0);
                }
                .expanded{
                    left: 300%;
                    opacity: 100%;
                }
            }
        }
    }
    .right{
        .card{
            width: 100%;
            .card-img{
                display: flex;
                align-items: center;
                height: 14em;
                width: fit-content;
                overflow: hidden;
                position: relative;
                img{
                    margin: auto;
                    object-fit:contain;
                    cursor: pointer;
                }
            }
            .card-img::after{
                content: "";
                width: 30em;
                position: absolute;
                left: -65px;
                transform: rotate(-33deg);
            }
            .card-img:hover::after{
                animation: eff 0.6s forwards;
            }
            
        }
    }
}
.social{
    margin: 30px;
    display: flex;
    gap: 12px;
    .social-icons{
        padding:9px;
        font-size: 2.9em;
        border-radius: 100%;
        transition: all .5s;
        cursor: pointer;
    }
    .social-icons:hover{
        background-color: orange;
        color: black;
    }
}